		body {background-color:pink;}
		h1   {font-size:XX-large;color:yellow;text-align:center;}
		h2   {font-size:x-large;color:purple !important;}
		p    {margin-left:10px;}	
		.warning {color:red;}
	 	#section14 {color:white;}