:host{
    display: block;
}

.header{
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.capsule-wrapper{
    overflow: hidden;
    height: 80vh;

    .capsules-container{
        padding: 8px 12px;
        overflow: scroll;
        height: 100%;
    }
}
