<mat-nav-list>
  <h3 mat-subheader>Folders</h3>
  <button mat-button class="nav-link-wrapper" (click)="newClicked()">
    <mat-list-item>
      <h3>New Email</h3>
    </mat-list-item>
  </button>
  <button mat-button class="nav-link-wrapper" (click)="inboxClicked()">
    <mat-list-item>
      <h3>Inbox</h3>
    </mat-list-item>
  </button>
  <button mat-button class="nav-link-wrapper" (click)="sentClicked()">
    <mat-list-item>
      <h3>Sent Items</h3>
    </mat-list-item>
  </button>
</mat-nav-list>
